@use 'variables' as *;
@use 'mixins' as *;

footer {
    background-color: $footer-bg-color;
    border-top: 1px solid;
    padding: 2rem 1rem;

    a {
        @include styleless-links;
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    footer div {
        width: 100%;
        padding: 0 15px;
    }
}

@media (min-width: 359px) {
    footer {
        display: flex;
        flex-wrap: wrap;
    }
    
    footer div {
        width: 50%;
        padding: 0 15px;
    }
}

@media (min-width: 521px) {
    footer {
        display: flex;
        flex-wrap: wrap;
    }
    
    footer div {
        width: 25%;
        padding: 0 15px;
    }
}
