@use 'variables' as *;
@use 'mixins' as *;

footer {
    background-color: $footer-bg-color;
    border-top: 1px solid;
    padding: 2rem 1rem;
    a {
        @include styleless-links;
        display: flex;
        flex-direction: column;
        padding: 5px;
    }
}