@use 'variables' as *;
@use 'mixins' as *;

* {
	box-sizing: border-box;
}

/* Slideshow container */
.container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

//hides in mobile for screenreaders, displays at around tablet view
.showcase {
	@include visually-hidden;
	font-family: $font;
	color: rgb(120, 120, 120);

	@include mq($phoneLandscape) {
		width: 400px;
		height: auto;
		overflow: auto;
		right: 0;
		margin-top: 3rem;
		background-color: rgba(251, 251, 251, 0.572);
		padding: 2rem;
	}

	& > h2 {
		font-size: 1.5rem;
		padding: 0;
		padding-bottom: 2rem;
		font-weight: 200;
	}

	& > h1 {
		font-size: 2rem;
		font-weight: 600;
	}

	& > .cta {
		padding-top: 1rem;
		@include orange-button;
	}
}

/* Hide the images by default */
.my-slides {
	display: none;
	position: relative;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 35%;
	width: 5rem;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;

	/* Position the "next button" to the right */
	&.next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

.circles {
	display: flex;
	justify-content: center;
	flex-direction: row; /* Display dots in a column */
	margin-top: -2rem;
}
/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 0.3rem 0 0.3rem;

	//desktop margins
	// margin-right: 1rem;
	// margin-left: 1rem;
	background-color: #ffa20081;
	border-radius: 50%;
	display: block;
	transition: background-color 0.6s ease;
	z-index: 100;
}

.dot.active,
.dot:hover {
	background-color: #ee9700;
}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}
