@use 'variables' as *;
@use 'mixins' as *;

.drop-down a {
	@include styleless-links;
	color: $lite-text;
	line-height: ($line-height) * 2;
	margin: 1rem;
	font-family: $font;
}

ul > li:hover {
	background-color: rgb(62, 62, 62);
}

#nav_menu {
	display: none;
	z-index: 100;

	&.expanded {
		display: block;
	}

	&.li:hover {
		background-color: darkgrey;
	}
}

.toggle {
	width: 1.5rem;
	height: 0.5rem;
}

.toggle span {
	display: block;
	width: 35px;
	height: 0.2rem;
	margin: 5px auto;
	background-color: #ffffff;
	transition: all 0.3s ease-in-out;
}

.toggle.active span:nth-child(1) {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle.active span:nth-child(2) {
	opacity: 0;
}

.toggle.active span:nth-child(3) {
	transform: rotate(45deg) translate(-5px, -7px);
}

.icons {
	display: flex;
	flex-wrap: nowrap;
	margin-left: 1rem;

	a {
		width: 1em;
		display: flex;
		gap: 0.5rem;
		margin-top: 1rem;
		margin-left: 0;
	}
}

//broken ?
.icons,
path:hover {
	fill: orange;
}

#nav_menu {
	position: absolute;
	left: 0;
	background-color: $brand-colors;
	width: 100%;
	top: 3.5rem;
	padding: 1rem;
	z-index: 999;
}
