@use 'variables' as *;
@use 'mixins' as *;

.drop-down a {
	@include styleless-links;
	color: $lite-text;
	line-height: ($line-height) * 2;
}

#nav_menu {
	display: none;

	&.expanded {
		display: block;
	}
}

.toggle {
	// padding: 3rem;
	width: 1rem;
	// color: white;
	position: relative;
	// cursor: pointer;

	&::before,
	&::after {
		content: '';
		position: absolute;
		border: 1px solid white;
		width: 100%;
		// width: 1rem;
		// height: 2px;
		// transition: transform 0.3s ease;
	}

	&::before {
		top: -10px;
	}

	&::after {
		top: 5px;
	}

	// &.open {
	// 	.toggle:before {git
	// 		transform: rotate(-45deg) translate(-5px, 5px);
	// 	}

	// 	.toggle:after {
	// 		transform: rotate(45deg) translate(-5px, -5px);
	// 	}
	// }

	// &[aria-expanded='#{$toggle-expanded}'] {
	// 	.drop-down {
	// 		display: none;
	// 	}
	// }
	// &[aria-expanded='true'] {
	// 	.drop-down {
	// 		display: block;
	// 	}
	// }
}

.icons {
	width: 4em;
	display: flex;
	gap: 0.5rem;
	margin-top: 1rem;
}

#nav_menu {
	position: absolute;
	left: 0;
	background-color: $brand-colors;
	width: 100%;
	top: 3rem;
	padding: 1rem;
}
