@use 'variables' as *;
@use 'mixins' as *;

.drop-down a {
	@include styleless-links;
	color: $lite-text;
	line-height: ($line-height) * 2;
	margin: 1rem;
	font-family: $font;
}

.drop-down li {
	list-style: none;
}

ul > li:hover {
	background-color: rgb(62, 62, 62);
}

.nav-container {
	display: flex;
	color: white;
	justify-content: space-between;
	width: 100%;
	padding: 1rem;
}

#nav_menu {
	left: 0;
	background-color: $brand-colors;
	width: 100%;
}

#nav_menu {
	overflow: hidden;
	height: 0;
	transition: 0.3s all ease-in;

	&.expanded {
		// display: block;
		height: 20rem;
	}

	&.li:hover {
		background-color: darkgrey;
	}
}

.toggle {
	width: 1.5rem;
	height: 0.5rem;
}

.toggle span {
	display: block;
	width: 35px;
	height: 0.2rem;
	margin: 5px auto;
	background-color: #ffffff;
	transition: all 0.3s ease-in-out;
}

.toggle.active span:nth-child(1) {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle.active span:nth-child(2) {
	opacity: 0;
}

.toggle.active span:nth-child(3) {
	transform: rotate(45deg) translate(-5px, -7px);
}

.icons {
	display: flex;
	flex-wrap: nowrap;
	margin-left: 1rem;

	a {
		width: 1em;
		display: flex;
		gap: 0.5rem;
		margin-top: 1rem;
		margin-left: 0;
	}
}

.icons,
path:hover {
	fill: orange;
}

@include mq($tabletLandscape) {
	.toggle {
		display: none;
	}

	.nav-bar {
		display: flex;
		align-items: center;
	}

	#nav_menu {
		display: flex;
		height: auto;
	}
}
