@use 'variables' as *;
@use 'mixins' as *;

main {
	a {
		@include styleless-links;
	}

	h2 {
		font-family: $font;
		padding: 2rem 1rem;
		font-weight: 25;
		font-size: 2.5rem;
	}

	p {
		font-family: $font;
		padding: 1rem;
		font-weight: 50;
		font-size: 1.2rem;
	}

	.shop-sliders img {
		border-radius: 50%;
		height: 100%;
		width: 100%;
		filter: brightness(50%);
	}

	.in-the-news div {
		padding: 2rem 2rem 1rem;
	}
}

@media (max-width: 477px) {
	.best-sellers {
		
		.bs-cta {
			padding-left: 1rem;
			padding-right: 1rem;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 25% 25% 25% 25%;
		}

		img {
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 2;
			grid-row-end: 4;
			padding-right: 1rem;
		}

		p {
			grid-column-start: 1;
			grid-column-end: 3;
			grid-row-start: 1;
			grid-row-end: 2;
		}
		
		button {
			@include orange-button;
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 3;
			grid-row-end: 4;
			padding: 10px;
		}
	}
}

@media (min-width: 478px) {

	.best-sellers h2 {
		text-align: center;
	}

	.bs-cta-wrapper {
		display: flex;
	}

	.bs-cta {
		display: flex;
		flex-wrap: wrap;
		align-content: flex-end;
		justify-content: center;
		align-items: center;
		padding-top: 2rem;
		padding-left: 3rem;
		padding-right: 3rem;
	}

	button {
		@include orange-button;
	}
}