@use 'variables' as *;
@use 'mixins' as *;

body {
	max-width: 1440px;
	background-color: black;
}

main {
	background-color: white;
	a {
		@include styleless-links;
	}

	h2 {
		padding: 2rem 1rem;
	}

	p {
		padding: 1rem;
	}

	.in-the-news div {
		padding: 2rem 2rem 1rem;
	}
}

.best-sellers {

	@include mq($phonePortrait) {
		div {
			padding: 0 1rem;
			display: inline-grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 25% 25% 25% 25%;
		}

		img {
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 2;
			grid-row-end: 4;
			padding-right: 1rem;
		}

		p {
			grid-column-start: 1;
			grid-column-end: 3;
			grid-row-start: 1;
			grid-row-end: 2;
		}

		button {
			@include orange-button;
			border: none;
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 3;
			grid-row-end: 4;
			padding: 10px;
		}
	}

	@include mq($break-point-1) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 25% 75%;

		h2 {
			grid-column-start: 1;
			grid-column-end: 4;
			grid-row-start: 1;
			grid-row-end: 2;
			text-align: center;
		}

		div {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			align-items: bottom;
			justify-content: center;
			align-items: flex-end;
		}

		p {
			text-align: center;
		}

		img {
			width: max-content;
			height: max-content;
		}

		button {
			width: max-content;
			height: max-content;
		}
	}
}

.all-new {

	position: relative;

	div {

		position: relative;
		width: 45%;

		img {
			width: 100%;
			height: auto;
			filter: brightness(50%);
		}
		
		h3,
		p,
		button {
			position: absolute;
			top: 50%;;
			left: 50%;
			transform: translate(-50%, -50%);
			color: purple;
		}
	
		// p {
		// 	position: absolute;
		// 	z-index: 1000;
		// }
	
		// button {
		// 	position: absolute;
		// 	@include white-button;
		// 	z-index: 1000;
		// 	top: 3rem;
		// }	
	}
}

// .feeling-lucky {
	
// 	img {
// 		position: relative;
// 	}
	
// 	h3 {
// 		position: absolute;
// 	}

// 	p {
// 		position: absolute;
// 	}

// 	button {
// 		position: absolute;
// 		@include white-button;
// 	}
// }

