@use 'variables' as *;
@use 'mixins' as *;

body {
	max-width: 1440px;
	background-color: black;
	margin: 0 auto;
}

main {
	background-color: white;
	a {
		@include styleless-links;
	}

	h2 {
		padding: 2rem 1rem;
		text-align: center;
	}

	p {
		padding: 1rem;
	}

	.in-the-news div {
		padding: 0.5rem 1rem 1rem 2rem;
	}
}

/* BEST SELLERS */

.best-sellers {
	@include mq($phonePortrait) {
		div {
			padding: 0 1rem;
			display: inline-grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 25% 25% 25% 25%;
		}

		img {
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 2;
			grid-row-end: 4;
			padding-right: 1rem;
		}

		p {
			grid-column-start: 1;
			grid-column-end: 3;
			grid-row-start: 1;
			grid-row-end: 2;
		}

		button {
			@include orange-button;
			border: none;
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 3;
			grid-row-end: 4;
			padding: 10px;
		}
	}

	@include mq($break-point-1) {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 25% 75%;

		h2 {
			grid-column-start: 1;
			grid-column-end: 4;
			grid-row-start: 1;
			grid-row-end: 2;
			text-align: center;
		}

		div {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: center;
			align-items: flex-end;
			margin-bottom: 4rem;
		}

		p {
			text-align: center;
			width: 100%;
		}

		img {
			width: max-content;
			height: max-content;
		}

		button {
			width: max-content;
			height: max-content;
		}
	}
}

/* ALL NEW - FEELING LUCKY - OUR STORY */

@include mq($phonePortrait) {
	.all-new,
	.feeling-lucky,
	.our-story {
		position: relative;
		height: 350px;
		background-size: cover;
		background-position: center;
		color: $lite-text;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 20px;
		box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
	}

	.all-new {
		background-image: url('/images/bg-all-new-section-phone-square.jpg');
	}

	.feeling-lucky {
		background-image: url('/images/bg-feeling-lucky-section-phone-square.jpg');
	}

	.our-story {
		background-image: url('/images/bg-our-story-section-phone-square.jpg');
	}

	.all-new h3,
	.feeling-lucky h3 {
		font-size: 2em;
		font-weight: lighter;
		margin-left: 2rem;
	}

	.all-new p,
	.feeling-lucky p {
		margin: 0;
		font-size: 1.15em;
		padding-left: 0;
		padding-top: 0;
		font-weight: lighter;
	}

	.all-new button,
	.feeling-lucky button {
		@include white-button;
		border: none;
	}

	.our-story h3 {
		font-size: 2em;
		font-weight: 550;
		margin: 0 auto;
	}

	.our-story p {
		margin: 0;
		margin-top: 1em;
		font-size: 1em;
		padding: 0;
		font-weight: lighter;
		font-style: italic;
		text-align: center;
	}

	.our-story button {
		@include orange-button;
		border: none;
		margin: 0 auto;
		margin-top: 2rem;
	}

	.all-new img,
	.feeling-lucky img,
	.our-story img {
		display: none;
	}
}

/* MEDIA QUERY */

@include mq($slider-slick) {
	// 515px

	.all-new,
	.feeling-lucky {
		position: relative;
		min-height: 350px;
		background-size: cover;
		background-position: center;
		color: $lite-text;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		padding: 20px;
		padding-right: 0;
		box-shadow: none;
		top: 0px;
		left: 0px;
	}

	.our-story {
		position: relative;
		height: 350px;
		background-size: cover;
		background-position: center;
		color: $lite-text;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		padding: 20px;
	}

	.all-new {
		background-image: url('/images/bg-all-new-section.jpg');
	}

	.feeling-lucky {
		background-image: url('/images/bg-feeling-lucky-section.jpg');
	}

	.our-story {
		background-image: url('/images/bg-our-story-section-tablet.jpg');
	}

	.all-new button,
	.feeling-lucky button {
		@include white-button;
		border: none;
	}

	.our-story h3 {
		max-width: 30rem;
	}

	.our-story p {
		text-align: center;
		padding: 0 10rem;
	}

	.all-new-wrapper,
	.feeling-lucky-wrapper {
		box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
		padding: 1rem;
	}

	.all-new-wrapper,
	.feeling-lucky-wrapper {
		/* width within the parent.
			can be any percentage. */
		width: 280px;
	}

	.all-new-wrapper:before,
	.feeling-lucky-wrapper:before {
		// https://stackoverflow.com/questions/12121090/responsively-change-div-size-keeping-aspect-ratio
		content: '';
		float: left;

		/* essentially the aspect ratio. 100% means the
			div will remain 100% as tall as it is wide, or
			square in other words.  */
		padding-bottom: 33%;
	}
	/* this is a clearfix. you can use whatever
		clearfix you usually use, add
		overflow:hidden to the parent element,
		or simply float the parent container. */

	.all-new-wrapper:after,
	.feeling-lucky-wrapper:after {
		content: '';
		display: table;
		clear: both;
	}
}

@include mq($news-slider-tablet) {
	// 752px

	.our-story {
		box-shadow: none;
	}

	.our-story h3 {
		font-size: 3.5em;
	}

	.our-story p {
		font-size: 1.5em;
		font-style: normal;
	}

	.all-new,
	.feeling-lucky {
		height: 400px;
	}
}

@include mq($tabletLandscape) {
	// 1024px

	.our-story {
		background-image: url('/images/bg-our-story-section.jpg');
	}

	.all-new-wrapper,
	.feeling-lucky-wrapper {
		/* width within the parent.
				can be any percentage. */
		width: 320px;
	}

	.all-new,
	.feeling-lucky {
		height: 575px;
	}
}
