@use 'variables' as *;
@use 'mixins' as *;

.play {
	position: relative;
}

.play > h3 {
	position: absolute;
	z-index: 100;
	left: 50%;
	margin-left: -5.5rem;
	top: 2rem;
}

.media-bg {
	position: relative;
	width: 100%;
}

.play-btn {
	width: 10rem;
	position: absolute;
	top: 22%;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.video-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.419);
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
	pointer-events: none;
	transition: all 0.3s;
}

.position-container {
	position: relative;
	transform: translate(10px, 200px);
}

.video-container .close {
	position: absolute;
	background-color: black;
	color: white;
	top: 0%;
	right: 10%;
	font-size: 10px;
	cursor: pointer;
	padding: 0.2rem;
	z-index: 999;
}

.video-container video {
	width: 90%;
	max-width: 800px;
	transform: scale(0);
	border: 1rem solid white;
	outline: none;
	transition: all 0.3s;
}

.video-container.show {
	pointer-events: auto;
	display: block;
}

.video-container.show video {
	transform: scale(1);
	display: block;
}
