@use 'variables' as *;

//remove all styles on link
@mixin styleless-links {
	text-decoration: none;
	color: inherit;
	list-style: none;
}

//button style ready
@mixin orange-button {
	background: #f77d24;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1em;
	padding: 15px;
	border-radius: 9px;
}

@mixin white-button {
	background: #fff;
	display: inline-block;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1em;
	padding: 15px;
	border-radius: 9px;
}

@mixin mq($breakpoint) {
	@media (min-width: $breakpoint) {
		@content;
	}
}

// Visually hide an element but
// still make it accessible to
// a screen reader
@mixin visually-hidden {
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip-path: (0);
	position: absolute;
}
