@use 'variables' as *;
@use 'mixins' as *;

.news-prev,
.news-next {
	display: none;
	width: 3rem;
	position: absolute;
	z-index: 9999;
	top: 60%;
}

.news-prev {
	left: 0;
}

.news-next {
	right: 0;
}

section:nth-child(7) {
	position: relative;
}
