@use 'variables' as *;
@use 'mixins' as *;

.shop-sliders img {
	border-radius: 50%;
	height: 100%;
	width: 90%;
	filter: brightness(50%);
	display: gird;
}

.shop-sliders div {
	position: relative;
}

.shop-text {
	position: absolute;
	width: 100px;
	font-weight: 500;
	font-size: 1.2rem;
	text-align: center;
	top: 54%;
	left: 44%;
	transform: translate(-50%, -50%);
}

.shop-prev,
.shop-next {
	display: none;
}

.shop-sliders {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: 1rem;
	margin-bottom: 3rem;

	// @include mq() {
	// }
}
