@use 'variables' as *;
@use 'mixins' as *;

.socials {
	display: flex;
	justify-content: space-evenly;
	// width: 75%;
	max-width: 250px;

	svg {
		width: 2.5rem;
		height: 2.5rem;
	}
}

// Email

// main div:last-of-type {
// 	display: flex;
// }
