@use 'variables' as *;
@use 'mixins' as *;

/* SOCIALS */

.socials {
	/* width within the parent.
		can be any percentage. */
	width: 100%;
	padding-top: 2rem;
}
.socials:before { // https://stackoverflow.com/questions/12121090/responsively-change-div-size-keeping-aspect-ratio
	content: "";
	float: left;

	/* essentially the aspect ratio. 100% means the
		div will remain 100% as tall as it is wide, or
		square in other words.  */
	padding-bottom: 24px;
}
/* this is a clearfix. you can use whatever
	clearfix you usually use, add
	overflow:hidden to the parent element,
	or simply float the parent container. */

.socials:after {
	content: "";
	display: table;
	clear: both;
}

.socials svg {
	width: 2.5rem;
	height: 2.5rem;
}

// BUTTON TOP

.btn-wrap {
	padding-top: 2rem;
	padding-left: 2rem;
}

.btn-wrap a {

	color: #f77d24;
}

.arrow-up {
	width: 24px;
	vertical-align: bottom;
}

// Email

.email {
	display: flex;
	align-items: center;
	padding-bottom: 2rem;
}

.email svg {
	width: 2.5rem;
	height: 2.5rem;
}

@media (min-width: 36rem) { // 576px
	
	.socials-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		padding-right: 2rem;
	}

	.socials {
		max-width: 300px;
	}
}
