/* Error: expected "{".
 *   ,
 * 4 | hi 
 *   |    ^
 *   '
 *   scss\_gallery.scss 4:4  @use
 *   scss\index.scss 11:1    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 4 \2502  hi \a   \2502     ^\a   \2575 \a   scss\\_gallery.scss 4:4  @use\a   scss\\index.scss 11:1    root stylesheet';
}
