html {
  box-sizing: border-box;
}

* {
  box-sizing: border-box; /*if we add any border or padding does not affect overall*/
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
}

body {
  font-family: Tahoma, "Source Sans 3", sans-serif;
  line-height: 1.4;
  color: black;
}

h2 {
  font-weight: 25;
  font-size: 2.5rem;
}

p {
  font-weight: 50;
  font-size: 1.2rem;
}

.best-sellers p {
  text-align: left;
}

header {
  background-color: #000000;
  display: flex;
  align-items: center;
}

.nav-bar {
  width: 100%;
}

.drop-down a {
  text-decoration: none;
  color: inherit;
  list-style: none;
  color: white;
  line-height: 2.8;
  margin: 1rem;
  font-family: Tahoma, "Source Sans 3", sans-serif;
}

.drop-down li {
  list-style: none;
}

ul > li:hover {
  background-color: rgb(62, 62, 62);
}

.nav-container {
  display: flex;
  color: white;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

#nav_menu {
  left: 0;
  background-color: #000000;
  width: 100%;
}

#nav_menu {
  overflow: hidden;
  height: 0;
  transition: 0.3s all ease-in;
}
#nav_menu.expanded {
  height: 20rem;
}
#nav_menu.li:hover {
  background-color: darkgrey;
}

.toggle {
  width: 1.5rem;
  height: 0.5rem;
}

.toggle span {
  display: block;
  width: 35px;
  height: 0.2rem;
  margin: 5px auto;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.toggle.active span:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle.active span:nth-child(2) {
  opacity: 0;
}

.toggle.active span:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -7px);
}

.icons {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 1rem;
}
.icons a {
  width: 1em;
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-left: 0;
}

.icons,
path:hover {
  fill: orange;
}

@media (min-width: 64rem) {
  .toggle {
    display: none;
  }
  .nav-bar {
    display: flex;
    align-items: center;
  }
  #nav_menu {
    display: flex;
    height: auto;
  }
}
* {
  box-sizing: border-box;
}

/* Slideshow container */
.container {
  position: relative;
  margin: auto;
}

.showcase {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: 0;
  position: absolute;
  font-family: Tahoma, "Source Sans 3", sans-serif;
  color: rgb(120, 120, 120);
}
@media (min-width: 41rem) {
  .showcase {
    width: 400px;
    height: auto;
    overflow: auto;
    right: 0;
    margin-top: 3rem;
    background-color: rgba(251, 251, 251, 0.572);
    padding: 2rem;
  }
}
.showcase > h2 {
  font-size: 1.5rem;
  padding: 0;
  padding-bottom: 2rem;
  font-weight: 200;
}
.showcase > h1 {
  font-size: 2rem;
  font-weight: 600;
}
.showcase > .cta {
  padding-top: 1rem;
  background: #f77d24;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  padding: 15px;
  border-radius: 9px;
}

/* Hide the images by default */
.my-slides {
  display: none;
  position: relative;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: 5rem;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  /* Position the "next button" to the right */
}
.prev.next,
.next.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.circles {
  display: flex;
  justify-content: center;
  flex-direction: row; /* Display dots in a column */
  margin-top: -2rem;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 0.3rem 0 0.3rem;
  background-color: rgba(255, 162, 0, 0.5058823529);
  border-radius: 50%;
  display: block;
  transition: background-color 0.6s ease;
  z-index: 100;
}

.dot.active,
.dot:hover {
  background-color: #ee9700;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
body {
  max-width: 1440px;
  background-color: black;
}

main {
  background-color: white;
}
main a {
  text-decoration: none;
  color: inherit;
  list-style: none;
}
main h2 {
  padding: 2rem 1rem;
}
main p {
  padding: 1rem;
}
main .in-the-news div {
  padding: 2rem 2rem 1rem;
}

@media (min-width: 20rem) {
  .best-sellers div {
    padding: 0 1rem;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25% 25% 25% 25%;
  }
  .best-sellers img {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    padding-right: 1rem;
  }
  .best-sellers p {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .best-sellers button {
    background: #f77d24;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    padding: 15px;
    border-radius: 9px;
    border: none;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 10px;
  }
}
@media (min-width: 29.5rem) {
  .best-sellers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25% 75%;
  }
  .best-sellers h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
  }
  .best-sellers div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: bottom;
    justify-content: center;
    align-items: flex-end;
  }
  .best-sellers p {
    text-align: center;
  }
  .best-sellers img {
    width: max-content;
    height: max-content;
  }
  .best-sellers button {
    width: max-content;
    height: max-content;
  }
}

.all-new img {
  position: absolute;
  filter: brightness(50%);
}
.all-new h3 {
  position: relative;
  padding-left: 1rem;
  top: 1rem;
  z-index: 1000;
  color: purple;
}
.all-new p {
  position: absolute;
  z-index: 1000;
}
.all-new button {
  position: relative;
  background: #fff;
  display: inline-block;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  padding: 15px;
  border-radius: 9px;
  z-index: 1000;
  top: 3rem;
}

.play {
  position: relative;
}

.play > h3 {
  position: absolute;
  z-index: 100;
  left: 50%;
  margin-left: -5.5rem;
  top: 2rem;
}

.media-bg {
  position: relative;
  width: 100%;
}

.play-btn {
  width: 10rem;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.419);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  pointer-events: none;
  transition: all 0.3s;
}

.position-container {
  position: relative;
  transform: translate(10px, 200px);
}

.video-container .close {
  position: absolute;
  background-color: black;
  color: white;
  top: 0%;
  right: 10%;
  font-size: 10px;
  cursor: pointer;
  padding: 0.2rem;
  z-index: 999;
}

.video-container video {
  width: 90%;
  max-width: 800px;
  transform: scale(0);
  border: 1rem solid white;
  outline: none;
  transition: all 0.3s;
}

.video-container.show {
  pointer-events: auto;
  display: block;
}

.video-container.show video {
  transform: scale(1);
  display: block;
}

footer {
  background-color: #d3d3d3;
  border-top: 1px solid;
  padding: 2rem 1rem;
}
footer a {
  text-decoration: none;
  color: inherit;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
footer footer div {
  width: 100%;
  padding: 0 15px;
}

@media (min-width: 359px) {
  footer {
    display: flex;
    flex-wrap: wrap;
  }
  footer div {
    width: 50%;
    padding: 0 15px;
  }
}
@media (min-width: 521px) {
  footer {
    display: flex;
    flex-wrap: wrap;
  }
  footer div {
    width: 25%;
    padding: 0 15px;
  }
}
.socials {
  display: flex;
  justify-content: space-evenly;
  width: 75%;
}
.socials svg {
  width: 2.5rem;
  height: 2.5rem;
}

.in-the-news div {
  padding: 2rem 2rem 1rem;
}

.shop-sliders img {
  border-radius: 50%;
  height: 100%;
<<<<<<< HEAD
  width: 100%;
=======
  width: 80%;
>>>>>>> 3c0a47a685e589da8328adf8e44c75332d81a61d
  filter: brightness(50%);
}

/*# sourceMappingURL=index.css.map */
